.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}

.aboutUs .aboutUsHeader {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 2rem;
    font-family: "cairoBlack";
    font-size: 200%;
    text-align: center;
}

.aboutUs .aboutUsHeader .whatSay {
    position: relative;
}

.aboutUs .aboutUsHeader .whatSay::before {
    content: "";
    position: absolute;
    top: 52px;
    right: -30px;
    width: 200%;
    height: 130px;
    border: solid 5px #000;
    border-color: rgb(117, 55, 216) transparent transparent transparent;
    border-radius: 130%/100px 30px 0 0;
}

.aboutUs .aboutUsText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.aboutUsComments {
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 40px;
}


@media screen and (min-width: 1536px) {
    .aboutUsComments {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
}

/* Large screens (≥1280px) */
@media screen and (min-width: 1280px) and (max-width: 1535px) {
    .aboutUsComments {
        /* display: flex;
        flex-direction: row; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

/* Medium screens (≥1024px) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .aboutUsComments {
        display: grid;
        grid-template-columns: repeat(2, 1fr);;
    }

}

/* Small screens (≥768px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .aboutUsComments {
        display: grid;
        grid-template-columns: repeat(1, 1fr);;
    }

}

/* Mobile screens (<768px) */
@media screen and (max-width: 767px) {
    .aboutUsComments {
        display: grid;
        grid-template-columns: repeat(1, 1fr);;
    }
}

.aboutUsComments .commentName {
    font-family: "cairoBold";
}

.comment {
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.comment1 {
    background-color: rgb(254, 247, 237);
}

.comment2 {
    background-color: rgb(237, 249, 249);
}

.comment3 {
    background-color: rgb(254, 239, 242);
}

.aboutUsQuickLook {
    display: flex;
}

.aboutUsQuickLook img {
    width: 60px;
    margin-right: -15px;
    border-radius: 50%;
    border: 3px solid white;
    transform: scaleX(-1);
}

.aboutUsQuickLook .countperson {
    font-family: "cairoBold";
    background-color: rgb(117, 55, 216);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    position: relative;
}

.aboutUsComments img.commentImage {
    width: 20%;
    border-radius: 50%;
}