.bestSelling {
    background: rgb(248, 248, 248);
    background: linear-gradient(180deg, rgba(248, 248, 248, 1) 70%, rgba(183, 151, 232, 1) 30%);
    transition: transform 1s, opacity 1s;
    padding-bottom: 40px;
}

.bestSellingHeader {
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    font-family: "cairoBold";
    font-size: 250%;
    margin-bottom: 15px;
}

/* SLIDER */
.slider {
    position: relative;
    /* left: 20px; */
    max-width: 180rem;
    height: 35rem;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide {
    position: absolute;
    top: 0;
    width: 90%;
    height: 40rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s;
    gap: 40px;
    direction: ltr;
}

.slide--2 .card1 {
    /* margin-left: 80px; */
}

.sliderBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    color: #333;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 200%;
    cursor: pointer;
    box-shadow:
        0px 8px 20px rgba(0, 0, 0, 0.1),
        0px 16px 32px rgba(0, 0, 0, 0.1);
}

.sliderBtnLeft {
    top: 5%;
    right: 9.5%;
    transform: translate(-50%, -50%);
}

.sliderBtnRight {
    background-color: rgb(117, 55, 216);
    color: white;
    top: 5%;
    right: 8%;
    transform: translate(50%, -50%);
}

/* Cards */
.card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 20px;
    width: 65%;
    box-shadow: 20px 10px 20px rgba(0, 0, 0, 0.3);
}

.cardImage {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.cardHeader {
    font-family: "cairoBold";
    margin-bottom: 10px;
    font-size: 100%;
}

.cardRating {
    display: flex;
    justify-content: space-between;
    font-size: 100%;
    font-family: "cairoMedium";
    color: #555;
}

/* Price */
.price {
    color: rgb(117, 55, 216);
    font-family: 'cairoExtraBold';
}

/* allCoursesBtn */

.allCoursesBtn {
    display: block;
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: white;
    font-family: "cairoExtraBold";
    border-radius: 20px;
    padding: 5px 25px;
    box-shadow:
        0px 8px 20px rgba(0, 0, 0, 0.2),
        0px 16px 32px rgba(0, 0, 0, 0.2);
}